/* ------- Efeito cascata --------- */
/* 
  De acordo com o efeito cascata, a última regra escrita 
  para um elemento é a que prevalece 
*/

.container {
  background-color: aqua;
}

/* .container {
  background-color: orange;
} */

/* ------- Especificidade --------- */
/*
  O seletor com a regra mais específica é o que vai ser aplicado, 
  independente do efeito cascata
*/

p {
  background-color: lightskyblue;
}

/* #meu-paragrafo {
  background-color: violet;
}

.container p {
  background-color: chartreuse;
} */

