/* seletor:pseudo-classe{
    propriedade: valor;
} */

.first-child p:first-child{
    color: aquamarine;
}

.last-child p:last-child{
    color: blueviolet;
}

.not p:not(.padrao){
    color: yellow;
}

 .nth-child li:nth-child(n+1):nth-child(-n+3) {
    color: red;
}

.nth-last-child li:nth-last-child(1){
    color: red;
}

.only-child p:only-child{
    color:red
}