body {
  font-size: 1.2em;
  font-weight: bold;
  color: white;
}

.container {
  background-color: lightgrey;
  height: 300px;
  position: relative;
  margin-bottom: 20px;
}

.btn {
  width: 250px;
  height: 50px;
  background-color: lightseagreen;
  color: white;
  font-size: 1.2em;
}

.texto-centralizado-1 {
  width: 250px;
  height: 250px;
  background-color: lightsalmon;

  line-height: 250px; /* centralizando verticalmente */
  text-align: center; /* centralizando horizontalmente */
}

.texto-centralizado-2 {
  position: absolute;
  top: 50%; /* centralizando verticalmente */

  left: 50%; /* centralizando horizontalmente */
  transform: translate(-50%, -50%); /* centralizando verticalmente e horizontalmente */
}

.alinhado-margin-auto  {
  display: block; /* margin auto precisa de display block */
  /* margin-left: auto;
  margin-right: auto; */

  margin: auto; /* centralizando horizontalmente */
}

.alinhado-absolute {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  margin: auto;
}

.container-text-align {
  text-align: center;
}